# .env — Variables d'environnement
# Ce fichier est lu automatiquement par docker-compose

POSTGRES_USER=xxxxxx
POSTGRES_PASSWORD=xxxxxxx
POSTGRES_DB=xxxxx

MINIO_USER=xxxxx
MINIO_PASSWORD=xxxxxx

ADZUNA_APP_ID=xxxxxx
ADZUNA_API_KEY=xxxxxxxx