# .env — Variables d'environnement
# Ce fichier est lu automatiquement par docker-compose

POSTGRES_USER=jobuser
POSTGRES_PASSWORD=motdepasse123
POSTGRES_DB=job_intelligent

MINIO_USER=admin
MINIO_PASSWORD=motdepasse123